<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible' />
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-title' content='Links' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black' />
    <title>Ironman</title>
    <meta name='description' content='A mobile friendly Ironman training schedule.' />
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-responsive.no-icons.min.css' rel='stylesheet' />
    <link href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css' rel='stylesheet' />
    <link href='<%= asset_path('application.css') %>' rel='stylesheet' type='text/css' />
    <link href='/apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144' type='image/png' />
    <link href='/apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72' type='image/png' />
    <link href='/apple-touch-icon.png' rel='apple-touch-icon' type='image/png' />
    <link href='/favicon.png' rel='shortcut icon' type='image/png' />
  </head>
  <body>
    <div class='navbar navbar-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='#'>
            <i class='icon-bullhorn'></i>
            Brando's Training
          </a>
        </div>
      </div>
    </div>

    <div id="main"><div id="time"></div></div>

    <script type="text/x-handlebars-template" id="index-template">
      <button class="btn btn-large btn-danger">Start Training!</button>
    </script>

    <script type="text/x-handlebars-template" id="workout-title-template">
      {{#if showPrevWeek}}
        <i class="icon-circle-arrow-left" data-behavior="prev"></i>
      {{else}}
        <i class="icon-circle-arrow-left hide" data-behavior="prev"></i>
      {{/if}}
      <h3>Week {{week}}</h3>
      <i class="icon-circle-arrow-right" data-behavior="next"></i>
    </script>

    <script type="text/x-handlebars-template" id="workout-template">
      <div class="day-of-week">
        {{dayOfWeek}}
      </div>
      <div class="sports">
        Run:
        <br />
        Bike:
        <br />
        Swim:
      </div>
      <div class="details">
        {{run}}
        <br />
        {{bike}}
        <br />
        {{swim}}
      </div>
      <br class="clear" />
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="//raw.github.com/documentcloud/backbone/master/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <script src="<%= asset_path('application.js') %>"></script>
    <script>
      $(function() {
        Ironman.app = new Ironman.Routers.App(<%= @data %>);
        Backbone.history.start();
      });
    </script>
  </body>
</html>
