body {
}

ul {
  list-style-type: none
}

.clear {
  clear: both;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  padding-top: 20px;
}

.title {
  margin-left: 20px;
}

.new-item {
  margin-bottom: 3%;
  margin-left: 3%;

  input[type=text] {
    padding: 3%;
    width: 65%;
    font-size: inherit;
  }

  input[type=submit],
  button {
    margin-top: -10px;
    height: 38px;
  }
}

h3 {
  margin-right: 10px;
  display: inline-block;
}

.workouts {
  margin-left: 0;

  li:first-child {
    border-top: 1px solid #ddd;

  }

  .workout {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 4%;
    -webkit-tap-highlight-color: white;
  }

  .day-of-week {
    color: grey;
    font-size: 0.8em;
    text-transform: capitalize;
    float: left;
    width: 10%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .day-activities {
    float: left;
    width: 90%;
  }

  .activity {
    display: inline-block;
    width: 20%;
    color: grey;
  }

  a {
    float: left;
    margin-right: 4%;
  }

  p {
    width: 70%;
    float: left;
  }
}

h3 {
  margin-left: 10px;
}