body {
  font-size: 1.1em;
}

ul {
  list-style-type: none
}

.hide {
  visibility: hidden;
}

.clear {
  clear: both;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  padding-top: 20px;
}

.title {
  margin-left: 20px;

  i {
    font-size: 1.8em;
  }
}

.new-item {
  margin-bottom: 3%;
  margin-left: 3%;

  input[type=text] {
    padding: 3%;
    width: 65%;
    font-size: inherit;
  }

  input[type=submit],
  button {
    margin-top: -10px;
    height: 38px;
  }
}

h3 {
  margin-right: 10px;
  display: inline-block;
}

.workouts {
  margin-left: 0;

  li:first-child {
    border-top: 1px solid #ddd;

  }

  .workout {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 4%;
    -webkit-tap-highlight-color: white;
  }

  .day-of-week {
    font-size: 1.2m;
    color: grey;
    float: left;
    width: 40px;
    float: left;

    margin-top: 20px;
    padding-left: 10px;
  }

  .activities {
    float: left;

    .sports {
      width: 60px;
      float: left;
      color: grey;
    }

    .details {
      width: 250px;
      float: left;
    }
  }

  a {
    float: left;
    margin-right: 4%;
  }

  p {
    width: 70%;
    float: left;
  }
}

h3 {
  margin-left: 10px;
}